/* common */
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.marquee { overflow: auto; white-space: nowrap; overflow-x: -webkit-marquee; -webkit-marquee: backwards 1px infinite scroll 23; }
.page{
    margin-top: 90px;
	
    overflow: hidden;
    /* height: 865px; */
}

.container { width: @container-desktop !important; }