#page_games {
    text-align: center;
}

.game-info-header {
    position: absolute;
    top: 17%;
    width: 705px;
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

#timeline {
    position: relative;
    width: 600px;
    height: 21px;
    background: #000;
    float: left;
}

#timeline-progress {
    width: 0px;
    height: 21px;
    background: url(../img/game/img_time_yellow.png);
}

#timer {
    position: relative;
    display: inline-block;
    float: right;
    font-size: 45pt;
    left: 10px;
    line-height: 26px;
    width: 105px;
}

#score{
    display: block;
    font-size: 30pt;
    position: absolute;
    float: right;
    width: 310px;
    top: 25px;
    text-align: center;
    color: brown;  
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#start_message{
    position: relative;
    top: 30%;
}

#finish_message{
    position: relative;
    top: 30%;
}
.play-ground{
    display: none;
}

#game_title{
    position: absolute;
    
    top: 10%;
    left: 3%;
    color: steelblue;
    font-size: 30pt;
}

#result_message{
    text-align: -webkit-center;
    
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    top: 27%;
}

#submit_feedback_ui{

}

/*숫자대소비교 게임 스타일*/
#game_g1{
    width: 100%;
    height: 100%;
    text-align: center;
}

#game_g1 .question{
    position: absolute;
    top: 37%;
    font-size: 90pt;
    width: 670px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#game_g1 .question .left-num{
    display: inline-block;
    float: left;
}

#game_g1 .question .right-num{
    display: inline-block;
    float: right;
}

#game_g1 .question .blank{
    display: inline-block;
    width: 180px;
    height: 180px;
    background: gray;
    border-radius: 50%;
    top: -12px;
    position: relative;
    line-height: 200px;
    color: #eee;
}

#game_g1 .option{
    position: absolute;
    top: 62%;
    width: 900px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#game_g1 .option div {
    list-style: none;
    font-size: 120pt;
    margin: 0px 90px;
    color: cadetblue;
    display: block;
    width: 118px;
    cursor: pointer;
}

#game_g1 .option .opt1{
    float: left;
}

#game_g1 .option .opt2{
    float: left;
}

#game_g1 .option .opt3{
    float: right;
}

