#page_play {

}

#game_list_ctr{
	width: 3000px;
	height: 600px; 
    
}

#game_list_ctr > ul{
    position: relative;

    top: 5.2em;
}

#game_list_ctr > ul > li{
    float: left;
	width: 634px;
    height: 365px;
    position: relative;
    background-size: cover;
    margin: 20px;
    list-style: none;
    background-color: #fff;
    border: solid 1px;
}

#game_info_ctr{	
    position: absolute;
    background-color: #A4D5EC;
   	height: 265px;
	padding: 27px;
	position: fixed;
	border: 0px;
	bottom: 0px;
	width: 100%;
}



#game_info_ctr .game-meta{
	
}